@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

* {
    margin: 0;
    padding: 0;
    background-color: black;
    list-style: none;
    text-decoration: none;
}

h1 {
    color: #fff;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

header {
    height: 90px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
}

#logo {
    width: 190px;
    height: auto;
}

nav {
    width: 100%;
}

ul {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

li {
    list-style: none;
    color: #fff;
    cursor: pointer;
    font-size: 19px;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

li:hover {
    color: #ef2024;
}

#banner {
    background-image: url('./midia/banner.png');
    background-position: 95% 50%;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 400px;
    background-color: #ef2024; 
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #F2EC99;
    font-size: 50px;
    text-shadow: 0 0 20px #F29A2E, 0 0 20px black;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

#trailer-container {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
}

.content {
    width: 70%;
    display: flex;
    justify-content: center;
}

.trailer {
    width: 100%;
}

#sinopse {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 25px;
    align-items: center;
}

.description {
    color: #fff;
    font-size: 19px;
    font-family: 'Kdam Thmor Pro', sans-serif;
    width: 70%;
}

.button {
    width: 200px;
    height: 60px;
    background-color: #ef2024;
    color: #fff;
    padding: 8px 10px;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    transition: .8s;
    font-size: 18px;
    display: flex;
    justify-content: center;
    font-weight: bold;
    border: none;
    outline: none;
    margin-top: 25px;
}

.button:hover {
    background-color: #fff;
    color: #ef2024;
}

.actor-cards-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.cards-content {
    width: 90%;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 20px;
    column-gap: 40px;
}

.card {
    width: 100%;
    height: 600px;
    background-size: cover;
    background-position: 50% 0%;
    cursor: pointer;
    transition: 1s;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 0 20px 10px;
    color: #fff;
    font-size: 17px;
    font-family: 'Kdam Thmor Pro', sans-serif;
    background-color: #ef2024;
    border-radius: 5px;
}

.card:hover {
    transform: scale(1.02);
}

.banner-1 {
    background-image: url('https://i.pinimg.com/originals/97/35/2a/97352a18b151610dc66f3f693e0b9196.png');
}

.banner-2 {
    background-image: url('https://static.wikia.nocookie.net/liga-da-zueira-oficial/images/d/dd/Vegeta_DBZ.png/revision/latest?cb=20200613041950&path-prefix=pt-br');
}

.banner-3 {
    background-image: url('https://static.wikia.nocookie.net/animeverso/images/8/8e/Kid_gohan_render_dbz_kakarot_by_maxiuchiha22_ddec4fw-fullview.png/revision/latest?cb=20220208182312&path-prefix=pt-br');
}

footer {
    height: 300px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

span {
    color: #fff;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

.footer-navigation {
    display: none;
}

.footer-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media(max-width: 768px) {
    .footer-navigation {
        display: block;
    }

    nav {
        display: none;
    }

    #banner {
        background-position: 50%;
        height: 350px;
    }

    #trailer-container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .content {
        width: 90%;
        display: flex;
        flex-direction: column;
    }

    .trailer {
        width: 100%;
    }

    #sinopse {
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-left: 0px;
        margin-top: 20px;
    }

    .description {
        width: 100%;
    }

    .button {
        width: 100%;
    }

    .cards-content {
        margin-top: 5px;
        grid-template-columns: 1fr;
    }


}











