@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

* {
    margin: 0;
    padding: 0;
    background-color: black;
    list-style: none;
    text-decoration: none;
}

h1 {
    color: #fff;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

header {
    height: 90px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
}

#logo {
    width: 190px;
    height: auto;
    content: Home;
}

#home-logo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    border-bottom: 2px solid #F29A2E;
}

nav {
    width: 100%;
}

ul {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

li {
    list-style: none;
    color: #fff;
    cursor: pointer;
    font-size: 19px;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

li:hover {
    color: #ef2024;
}


#banner {
    background-image: url('./midia/banner.png');
    background-position: 95% 50%;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 400px;
    background-color: #ef2024;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #F2EC99;
    font-size: 50px;
    text-shadow: 0 0 20px #F29A2E, 0 0 20px black;
    font-family: 'Kdam Thmor Pro', sans-serif;
    border-bottom: 1px solid #F29A2E;
}

#trailer-container {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.content {
    width: 70%;
    display: flex;
    justify-content: center;
}

.trailer {
    width: 70%;
}

#sinopse {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 25px;
    align-items: center;
}

.description {
    color: #fff;
    font-size: 18px;
    font-family: 'Kdam Thmor Pro', sans-serif;
    width: 70%;
}

.button {
    width: 200px;
    height: 60px;
    background-color: #ef2024;
    color: #fff;
    padding: 8px 10px;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    transition: .8s;
    font-size: 18px;
    display: flex;
    justify-content: center;
    font-weight: bold;
    border: none;
    outline: none;
    margin-top: 25px;
}

.button:hover {
    background-color: #fff;
    color: #ef2024;
}

.actor-cards-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.cards-content {
    width: 90%;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 20px;
    column-gap: 40px;
}

.card {
    width: 100%;
    height: 600px;
    background-size: cover;
    background-position: 50% 0%;
    cursor: pointer;
    transition: 1s;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 0 20px 10px;
    color: #fff;
    font-size: 17px;
    font-family: 'Kdam Thmor Pro', sans-serif;
    background-color: rgba(255, 255, 255, 0.171);
    border-top: 2px solid #ef2024;
    border-bottom: 2px solid #ef2024;
    border-radius: 5px;
}

.card:hover {
    transform: scale(1.02);
}

.banner-1 {
    background-image: url('https://i.pinimg.com/originals/97/35/2a/97352a18b151610dc66f3f693e0b9196.png');
}

.banner-2 {
    background-image: url('https://raw.githubusercontent.com/GuilhermeSSx/html-css-dbz/master/midia/vegeta.png');
}

.banner-3 {
    background-image: url('https://raw.githubusercontent.com/GuilhermeSSx/html-css-dbz/master/midia/gohan.png');
}

footer {
    height: 300px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

span {
    color: #fff;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

.footer-navigation {
    display: none;
}

.footer-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* MEDIAQUERY */
@media(max-width: 768px) {
    .footer-navigation {
        display: block;
    }

    nav {
        display: none;
    }

    #banner {
        background-position: 50%;
        height: 350px;
    }

    #trailer-container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .content {
        width: 90%;
        display: flex;
        flex-direction: column;
    }

    .trailer {
        width: 100%;
    }

    #sinopse {
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-left: 0px;
        margin-top: 20px;
    }

    .description {
        width: 100%;
    }

    .button {
        width: 100%;
    }

    .cards-content {
        margin-top: 5px;
        grid-template-columns: 1fr;
    }

}


/* ELENCO */
.elenco-cards {
    width: 70%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;

}

.elenco-nome-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 2px solid #F29A2E;
    border-radius: 5px;
}

.card-e {
    display: flex;
    align-items: center;
    margin-top: 50px;

}

.img-elenco {
    width: 150px;
    height: 160px;
    background-color: rgb(255, 0, 0);
    border-radius: 5px;
}

.description-elenco {
    color: #fff;
    font-size: 15px;
    font-family: 'Kdam Thmor Pro', sans-serif;
    border: 1px solid #f22e2e;
    padding: 10px;
    border-radius: 5px;
    margin-left: 10px;
    height: 177px;
    overflow: hidden;
    overflow-y: scroll;
}

.nome-elenco {
    display: flex;
    color: #fff;
    font-family: 'Kdam Thmor Pro', sans-serif;
    border-bottom: 2px solid #F29A2E;
    border-radius: 5px;
    margin-bottom: 5px;

}

/* COMENTARIOS */
body {
    color: #fff;
}

.h1comment {
    text-align: center;
    margin-top: 60px;
    text-shadow: 0 0 20px #F29A2E, 0 0 20px black;
    margin-bottom: 60px;
}

.comentarios {
    width: 80%;
    margin: 0 auto;
    text-align: left;
    border-radius: 20px;
}

.comment-box {
    border-radius: 10px;
    width: 100%;
}

.comment {
    background-color: #333;
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
    font-family: 'Kdam Thmor Pro', sans-serif;
    display: flex;
}

.img-comment {
    width: 100px;
    height: 100px;
    background-color: transparent;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 10px
}

.name {
    background-color: transparent;
    margin-left: 15px;
    font-weight: bold;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

.text {
    background-color: transparent;
    margin-left: 5px;
}

/* CONTATO */
.body-contact {
    background-size: cover;
    position: 50% 90%;
    background-repeat: no-repeat;
    background-image: url('./midia/bg-contato.jpg');
}

.contact-container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.form-contato {
    margin-top: 20px;
    width: 50%;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    text-shadow: 0 0 20px #F29A2E, 0 0 20px black;
}

label {
    margin: 5px 0;
    background-color: transparent;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

input[type="text"],
textarea {
    width: 50%;
    padding: 12px;
    margin: 8px 0;
    border-radius: 4px;
    border: 1px solid #fff;
    background-color: #333;
    color: #fff;
}

input[type="submit"] {
    width: 200px;
    height: 60px;
    background-color: #ef2024;
    color: #fff;
    padding: 5px 5px;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    transition: .8s;
    font-size: 18px;
    display: flex;
    justify-content: center;
    font-weight: bold;
    border: none;
    outline: none;
    margin-bottom: 5px;
}

input[type="submit"]:hover {
    background-color: #ffffff;
    background-color: #fff;
    color: #ef2024;
}

#message {
    resize: vertical;
    min-height: 50px;
    max-height: 300px;
    height: 190px;
}

.h1contato {
    background-color: transparent;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    text-shadow: 0 0 20px #F29A2E, 0 0 20px black;
}

.img-banner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 320px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('./midia/info-test.jpg');
    border-radius: 20px;
    
}

/* MEDIAQUERY contato*/
@media(max-width: 767px) {

    .img-banner {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 320px;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url('./midia/info-test.jpg');
        border-radius: 20px;
    }

    .form-contato {
        margin-top: 20px;
        width: 100%;
        height: 400px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 20px;
        text-shadow: 0 0 20px #F29A2E, 0 0 20px black;
    }

}